@inject MovieForum.Services.Interfaces.IMoviesServices movieServices
@inject MovieForum.Services.Interfaces.IUserServices userServices

<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/plyr.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div class="about_photo">
        <div class="title-content">
            <h1 class="title-title">About us!</h1>

        </div>
    </div>
    <br>
    <br>

    <div class="blog__details__item__text">
        <h4>Movie Forum platform</h4>

        <p>
            <ul>
                <li>Movie forum is a platform where you can create posts as movies, describe the movie content, add movie cast and share opinion with other people.
                <li>You also have the great feauture to rate the movie from 1 to 10 stars and also add tags to the post so it can be find easier with the help of the searchbar.
                <li>Under each post you can add a comment to give your oppinion about your personal or others posts. You can Like and Dislike all of the comments and Edit or Delete yours.
                <li>As a User of our platform you can SignUp and create your own profile which you can update and also upload photo on it if you want.
                <li>If you are a guest to our website you can only see a list of top 10 most recently added movies and top 10 most commented movies in the Home page.
            </ul>            
        </p>
        <br>
        <br>
       <center>
       <h5>Welcome to Movie Forum!</h5>

       </center> 
    </div>
    <div class="about">
        <center>
            <div class="about_info">
                <h4 class="about_text">Total forum movies: @await movieServices.GetPostsCount() </h4>
            </div>
            <div class="about_info">
                <h4 class="about_text">Total forum users: @await userServices.UserCount() </h4>

            </div>
        </center>

    </div>
</body>
</html>