@model CreateUserViewModel


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MovieForum | Register</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <style>
       .login__form form .input__item input {
            color: black;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->@*
    <div id="preloder">
        <div class="loader"></div>
    </div>*@
    <!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Sign Up</h3>
                        <form asp-controller="Auth" asp-action="Register">
                            <div class="input__item">
                                <input asp-for="Email" type="email" placeholder="Email address">
                                <span asp-validation-for="Email" class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input asp-for="Username" type="text" placeholder="Username">
                                <span asp-validation-for="Username" class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input asp-for="FirstName" type="text" placeholder="First Name">
                                <span asp-validation-for="FirstName" class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input asp-for="LastName" type="text" placeholder="Last Name">
                                <span asp-validation-for="LastName" class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input asp-for="Password" type="password" placeholder="Password">
                                <span asp-validation-for="Password" class="icon_lock"></span>
                            </div>
                            <div class="input__item">
                                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password">
                                <span class="icon_lock"></span>
                            </div>
                            <input type="submit" class="site-btn" value="Sign Up">
                        </form>
                        <h5>Already have an account? <a asp-action="Login">Log In!</a></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <h3>Login With:</h3>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With Facebook</a>
                            </li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/player.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>