@model CreateMovie
@inject MovieForum.Services.Interfaces.IGenreServices genreServices

@{
    var genres = new SelectList(await this.genreServices.GetAll(), "Id", "Name");
}

<html lang="en">
<body>
    <form asp-controller="Movies" asp-action="Create" method="post">
        <div>
            <label asp-for="Title" class="form-label"></label>
            <br />
            <input asp-for="Title" type="text" class="form-input" />
            <br />
            <span asp-validation-for="Title" class="form-error"></span>
        </div>
        <div>
            <label asp-for="Content" class="form-label"></label>
            <br />
            <input asp-for="Content" type="text" class="form-input" />
            <br />
            <span asp-validation-for="Content" class="form-error"></span>
        </div>
        <div>
            <label asp-for="GenreId" class="form-label"></label>
            <br />
            <select asp-items="@genres" asp-for="GenreId" class="form-input"></select>
            <br />
            <span asp-validation-for="GenreId" class="form-error"></span>
        </div>
        <div>
            <label asp-for="RealeaseDate" class="form-label"></label>
            <br />
            <input asp-for="RealeaseDate" type="datetime" class="form-input" />
            <span asp-validation-for="RealeaseDate" class="form-error"></span>
        </div>
        <div>
            <label asp-for="Cast" class="form-label"></label>
            <br />
            <input asp-for="Cast" type="text" class="form-input" />
            <br />
            <span asp-validation-for="Cast" class="form-error"></span>
        </div> 
        <div>
            <label asp-for="Tags" class="form-label"></label>
            <br />
            <input asp-for="Tags" type="text" class="form-input" />
            <br />
            <span asp-validation-for="Tags" class="form-error"></span>
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</body>
</html>