@model UpdateMovieView
@inject MovieForum.Services.Interfaces.IGenreServices genreServices

@{
    var genres = new SelectList(await this.genreServices.GetAll(), "Id", "Name");
}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/tagsInput.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/js/TagsInputField.js"></script>
</head>
<body>
    <div class="create-edit-form">
        <form asp-controller="Movies" asp-action="Edit" method="post">
            <button type="submit" disabled style="display:none" aria-hidden="true"></button>
            <div>
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" type="text" class="form-input" />
                <br />
                <span asp-validation-for="Title" class="form-error" style="color:red"></span>
                <br />
            </div>
            <div>
                <label asp-for="Content" class="form-label"></label>
                <input asp-for="Content" type="text" class="form-input" />
                <br />
                <span asp-validation-for="Content" class="form-error" style="color:red"></span>
                <br />
            </div>
            <div>
                <label asp-for="GenreId" class="form-label"></label>
                <select asp-items="@genres" asp-for="GenreId" class="form-input"></select>
                <br />
                <span asp-validation-for="GenreId" class="form-error" style="color:red"></span>
                <br />
            </div>
            <div>
                <label asp-for="Cast" class="form-label"></label>
                <input asp-for="Cast" type="text" id="cast" data-role="tagsinput" placeholder="Add cast" value="@this.Model.Cast" />
                <br /><br />
            </div>
            <div>
                <label asp-for="Tags" class="form-label"></label>
                <input asp-for="Tags" type="text" id="tags" data-role="tagsinput" placeholder="Add tags" value="@this.Model.Tags" />
                <br /><br />
            </div>
            <div>
                <label asp-for="File" class="form-label"></label>
                <input asp-for="File" type="file" />
                <br /><br />
            </div>
            <div>
                <input type="hidden" asp-for="MovieID" value="@this.Model.MovieID" />
            </div>
            <div>
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
      </div>
</body>

</html>