<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nice-select.css" />
</head>
<body>
    <header class="header">

        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a asp-controller="Home" asp-action="Index">Homepage</a></li>
                                <li>
                                    <a Href="/Movies">Movies</a>
                                </li>

                                @if (this.User.HasClaim(x=>x.Value=="Admin"))
                                {
                                    <li><a href="/User/AllUsers">Users</a></li>
                                }
                                @if (!this.User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/Auth/Login">Sign In</a></li>
                                    <li><a href="/Auth/Register">Sign Up</a></li>
                                }
                                <li> <a href="Movies/Create"><span class="icon_plus_alt2"></span></a></li>
                                @if (this.User.Identity.IsAuthenticated)
                                {

                                    <li class="header__right">
                                        <span  class="icon_profile arrow_carrot-down" style="color:#b7b7b7"></span>
                                        <ul class="dropdown">
                                            <li><a asp-controller="User" asp-action="Index" asp-route-email="@User.Identity.Name">Profile</a></li>

                                            <li><a asp-controller="User" asp-action="Update">Settings</a></li>
                                            <li><a asp-controller="Auth" asp-action="Logout">Sign Out</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>

                        </nav>
                    </div>
                </div>

            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./Home">Homepage</a></li>
                            <li><a href="./Movies">Movies</a></li>
                            <li><a href="./About">About</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-19">
                    <p class="footer__copyright__text">
                        Copyright &copy; Team01 Telerik Alpha#41! <i class="fa fa-heart" aria-hidden="true"></i> 
                       
                    </p>

                </div>
            </div>
        </div>
    </footer>
    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Login", required: false)*@
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/player.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

@*<style>
    .navbar-nav {
        margin-left: auto;
    }


    .navbar-dark .nav-item .nav-link {
        color: #fff;
    }

        .navbar-dark .nav-item .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease;
            border-radius: 0.25rem;
            color: #fff;
        }

    .fa-li {
        position: relative;
        left: 0;
    }
</style>*@