<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h4>Movie forum</h4>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Movies" asp-action="Index">Movies</a>
                    </li>
                </ul>
                @if (this.User.HasClaim(x => x.Value == "Admin"))
                {
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Users">Users</a>
                        </li>
                    </ul>
                }
                <form asp-controller="User" asp-action="Search" class="d-flex align-items-center w-50 form-search" style="margin:auto">
                    <div class="input-group">
                        <input name="userSearch" type="search" class="form-control" placeholder="Search" aria-label="Search" />
                    </div>
                    <input type="submit" class="btn btn-dark">
                </form>

                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

                    @if (!this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="Login">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="Register">Sign Up</a>
                        </li>
                    }
                </ul>

                @if (this.User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                        <li class="nav-item me-3 me-lg-0 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                                <img src="~/Images/Image_631.jpg" class="rounded-circle" height="22"
                                 alt="" loading="lazy" />
                                @*<img src="~/Images/Image_500.jpg" class="rounded-circle" height="22"
                            alt="" loading="lazy" />*@
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                                <li><a asp-controller="User" asp-action="Index" asp-route-email="@User.Identity.Name" class="dropdown-item">Profile</a></li>
                                <li><a asp-controller="User" asp-action="Update" class="dropdown-item">Settings</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a asp-controller="Auth" asp-action="Logout" class="dropdown-item">Sign Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./Home">Homepage</a></li>
                            <li><a href="./Movies">Movies</a></li>
                            <li><a href="./About">Our Forum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p class="footer__copyright__text">
                        Copyright &copy; Team01 Telerik Alpha#41! <i class="fa fa-heart" aria-hidden="true"></i> 
                       
                    </p>

                </div>
            </div>
        </div>
    </footer>
    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Login", required: false)*@
</body>
</html>

<style>
    .navbar-nav {
        margin-left: auto;
    }


    .navbar-dark .nav-item .nav-link {
        color: #fff;
    }

        .navbar-dark .nav-item .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease;
            border-radius: 0.25rem;
            color: #fff;
        }

    .fa-li {
        position: relative;
        left: 0;
    }
</style>