@using MovieForum.Services.DTOModels
@model CommentDTO


<form asp-controller="Comments" asp-action="@this.ViewData["Action"]" method="post">
    <div class="@this.ViewData["CommentContent"]">
        <label asp-for="Content" class="form-label"></label>
        <br />
        <input asp-for="Content" type="text" class="form-input" />
        <br />
        <span asp-validation-for="Content" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="@this.ViewData["SubmitButton"]" class="btn btn-primary" />
        @this.User.Identity
    </div>
</form>

